<div class="main show-box">
  <div class="show-box-inner">
    <div class="show-header">
      <div class="show-header-item">
        <div class="show-left">
          <img src=<%= @user.image_name %> class="show-icon-image">
        </div>
        <div class="show-right">
          <div class="name-row">
            <p class="show-user-name"><%= @user.name %></p>
            <div class="row-left">
              <% if @user.id == current_user.id %>
                <%= link_to "プロフィールを編集", edit_user_registration_path, class: "edit-profile" %>
                <%= link_to "delete User", user_registration_path, {method: :delete, class: "delete-account"} %>
              <% end %>
            </div>
          </div>
          <p>プロフィール: <%= @user.profile %></p> 
        </div>
      </div>
    </div>

    <h2>投稿一覧</h2>
    <%= @user.posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <img src=<%= post.user.image_name %> class="icon-image">
        </div>
        <div class="post-right">
          <%= link_to post.user.name, user_path(post.user.id), class: "change" %> 
          <%= link_to post.content, edit_post_path(post.id), class: "content" %>
        </div>
      </div>
    <% end %> 
  </div>
</div> 

