<div class="top">
  <header class="home-header">
    <div class="header-item">
      <% if user_signed_in? %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <% end %>

      <%= link_to "新規登録", new_user_registration_path, class: 'post'%>
      <%= link_to "新規投稿", new_post_path %>
      <%= link_to "ユーザー一覧", users_path %>
      <%= link_to "投稿一覧", posts_path %>
    </div>
  </header>

    <h1>The ideaへようこそ</h1>
      <h2>あなたのアイディアをみんなに伝えよう</h2>

      <p>あなたのアイディアで世の中がもっとおもしろくなるかも？</p>
</div>
