<div class="main posts-show">
  <div class="show-container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src=<%= @user.image_name %> class="icon-image">
        <%= link_to @user.name, user_path(@user), class: "change" %>
      </div>
  
      <p><%= @post.content %></p>

      <div class="post-time">
        <%= @post.created_at %>
      </div>

      
      <% if @user.id == current_user.id %>
        <div class="post-menus">
          <%= link_to "投稿を編集する", edit_post_path(@post), class: "change" %>
          <%= link_to "投稿を削除", post_path(@post), {method: :delete, class: "change"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>