<!DOCTYPE html>
<html>
  <head>
    <title>Theidea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <div class="header-box">
      <h2>TheIdea</h2>
        <div class="header-item">
          <%= link_to image_tag("ホームのフリーアイコン素材.png", class:"header-icon"), posts_path %> 
          <%= link_to image_tag("ifn0387.png", class:"header-icon") %>
          <%= link_to image_tag("ハートのマーク.png", class:"header-icon")%>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
